<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.ResourceServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>resData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.AuthenticationServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>authData</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefresherServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.ReInitializerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefresherServlet</servlet-name>
		<url-pattern>/Refresher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefresherServlet</servlet-name>
		<url-pattern>/Refresher/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditorServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.im.imagine.web.GoldenGateImagineEditorServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>editData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditorServlet</servlet-name>
		<url-pattern>/edit/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditorServlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DocumentServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.im.imagine.web.GoldenGateImagineDocumentServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>docsData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentServlet</servlet-name>
		<url-pattern>/docs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocumentServlet</servlet-name>
		<url-pattern>/docs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocumentServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.im.imagine.web.GoldenGateImagineUploadServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>uploadData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
</web-app>
