.PlaziCommunity_CreateAccountFieldLabelCell {
	color: #003366;
	font-size: 81.25%;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-align: right;
}
.PlaziCommunity_CreateAccountFieldCell {
	color: #003366;
	font-size: 81.25%;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-align: right;
}